html {
	height: 100%;
	min-height: 100%;
}
body{
	font-family: Open Sans;
	min-height: 100%;
	background: url('../vacation.jpg') no-repeat fixed;
	min-height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	color: #555;
}

/* NAVBAR INDEX */
nav{
	width: 100%;
	height: 50px;
	background-color: #555!important;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    align-items: center;
    -webkit-align-items: center;
}
#index-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#index-ul>li {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}
.li-click:hover, #see-code{
	color: #fff;
	padding: 5px;
}
.li-click{		
	background: #828282;
	border-right: 1px solid #555;
}
#see-code{
	background: #18bc9c;
	margin: 0 20px;
}
.li-click:hover, #see-code:hover{
	cursor: pointer;
}
.li-click:hover {
	background-color: #9B9B9B;
}
#see-code:hover {
	background-color: #46C9B0;
}
.active{
	background-color: #9B9B9B;
}

/* SECTIONS AND BACKGROUNDS */
section{
	padding: 100px 0;
	margin: 0;
}
/*.overlay{
	background: rgba(0,0,0, 0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}*/
.white-bg{
	background-color: white;
	border-bottom: 1px solid #eee;
}
.cta-transparent{
	background: transparent;
}
.cta {
	background: rgba(236,236,236, 0.3);
	padding: 40px;
}
.heading{
	margin-bottom: 30px;
}

/* HEADINGS AND TEXT */
h1{
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
p, .benefit-ls{
	font-weight: 300;
	font-size: 18px;
}
h4.subtitle{
	font-size: 15px;
	color: #a7a9ac;
	margin-top: -10px;
	font-style: italic;
	text-align: center;
}
.section-title{
	text-align: center;
}

.section-txt{
	margin-top: 20px;
}

/* FAQ ACCORDION */
#accordion {
  margin: 25px 0;
}

#accordion .card {
  margin-bottom: 15px;
}

#accordion .card-header {
  padding: 5px 15px;
  background-color: #fff;
}

#accordion .card-body {
  padding: 20px;
}

#accordion .card-body p {
  margin: 0;
  text-align: left;
}

.faq-btn {
  padding: 15px 15px 15px 0;
  text-align: left;
  white-space: normal;
  color: #569789;
  width: 100%;
  font-weight: 300;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  align-items: center;
  -webkit-align-items: center;
}

span.faq-que{
  width: 90%;
}

span.ifaq {
    width: 10%;
    text-align: right;
}

.btn-link:focus, .btn-link:hover {
  color: #569789;
  text-decoration: none;
  background-color: transparent;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

/*SIGN UP FORM*/
:placeholder{
	text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

#submit, #free-sample-input-email
{
	border: 0;
	outline: none;
}
#submit{
	width: 100%;
	padding: 10px;
	color: #fff;
	background-color: #18bc9c;
	margin-top: 10px;
	font-weight: 700;
	cursor: pointer;
}
#submit:hover{
	background-color: #46C9B0;
}
#free-sample-input-email{
	width: 100%;
	padding: 10px;
}

/*PRICING*/

.lead{
	padding: 0 20px;
	text-align: center;
}
#pricing-section.small{
	font-weight: 300!important;
}
.price-block{
	margin-top: 30px;
}
.price-list{
	text-align: left!important;
	list-style-type: none;
	font-size: 15px;
}
.price-number{
	font-weight: 700;
}
li.price:before{
	font-family: 'FontAwesome';
	margin:0 5px 0 -15px;
}
li.price-include:before{
	content: '\f00c';
	color: green;
}		
li.price-remove:before{
	content: '\f00d';
	color: red;
}
li.price-include{
	font-weight: 500;
}
li.price-remove{
	font-weight: 300;
}
.badge-light{
	background: #E8850C;
	color: #fafafa;
	padding: 10px;
}


/*RESPONSIVE*/
@media (max-width: 767px){
	section{
		padding: 30px;
	}
}
@media (max-width: 480px){
	h1{
		font-size: 25px;
	}
	p, .benefit-ls{
		font-size: 15px;
	}
	.cta{
		padding: 20px;
	}
}